<h1>All moods available to you </h1>
<%@moods.each do |mood|%>
<h4>If you want to feel <em><%=mood.name%></em>, you should watch:</h4>
Here are the votes:
  <ol>
    <%mood.movies.each do |movie|%>
       <strong><li>"<%=movie.name%>" by: <%=movie.director%></strong></br>
      Rate of effect: <%=movie.effect_rating%></br>
      Summary: <%=movie.info%></li></br>
    <%end%></br></br></br>
</ol>
<%end%>
