<title> UPDATE MOVIE </title>
<h1> Here you can update your movie opinion about <%=@movie.name%>,</br>
  flip-flopper. </h1></br>

<form action = "/movies/<%=@movie.slug%>" method = "post">
    <h1> Update your description </h1>
    <input type = "hidden" name ="movie[name]" value = "<%=@movie.name%>">
    <input type = "hidden" name ="movie[director]" value = "<%=@movie.director%>">
    Some Info: <textarea name = "movie[info]" value = "<%=@movie.info%>"> </textarea>


  <h1> Rethink your feeeeeeelings.... </h1>
  <label> You mood after? </label>
    <input type = "text" name = "mood[name]">
    How strongly did it make you feel this way?: <input type = "integer" name = "movie[effect_rating]" placeholder = "Scale of 1 to 5">
  </br></br>

  <input type= "submit" value = "update">
</form>
