<h1> Your movies </h1>
<ol>
<%@movies.each do |movie|%>
  <li>
  <strong><%=movie.name%></strong></br>
  Director:<%=movie.director%></br>
  Info:<%=movie.info%></br>
  Mood:<%=movie.mood.name%></br>
  Rating by effect on mood:   <%=movie.effect_rating%></br></br></br>
  </li>
<%end%>

</o>
