<h1>This is the movie you created </h1>
<ul>
  <li>Name: <%=@movie.name%></li>
  <li>Director: <%=@movie.director%></li>
  <li>Info: <%=@movie.info%></li>
  <li>Your mood was: <%=@movie.mood.name%></li>
  <li>Effect on mood rating: <%=@movie.effect_rating%></li>
</ul>
